<%= form_with(model: twitt, local: true) do |form| %>
<%= tinymce %>
  <div class="field">
    <%= form.text_area :body, :class => "tinymce", :rows => 10, :cols => 40 %>
  </div>

  <%= form.file_field :photos, multiple: true %>

  <div class="actions">
    <button type="submit" class="btn btn-secondary">Submit</button>
  </div>
<% end %>
