<%= form_with(model: twitt, local: true) do |form| %>
<%= tinymce %>
  <div class="field">
    <%= form.text_area :body, :class => "tinymce", :rows => 10, :cols => 40 %>
  </div>
   <div class="photo">
  <%= form.file_field :photos, multiple: true %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-outline-info">Submit</button>
  </div>
<% end %>
